.skills {
	max-width:  1320px;
	margin: auto;
	padding: 2rem;
}

.skill-progress{
	display: flex;
	height: 80px;
	margin: 2rem 0;
	padding: 10px 30px;
	font-size: 20px;
}

#file {
}

progress[value] {
  width: 250px;
  height: 20px;
}

.progress-info p {
	margin:  10px 0;
}

.stack{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin: auto;
}