.navbar {
	display: flex;
	justify-content: space-between;
}

.nav-links {
	display: flex;
	justify-content: space-evenly;
}

a{
	text-decoration:  none;
}

.nav-link:hover {
	background-color: #07102C;
	border-radius: 10px;
}